This is my first jupyter colab notebook.

In [1]:
age = 36
name = "Naomi"

In [29]:
print(name, "is", age, "years old",'.')

NaomiMae is 36 years old .

In [5]:
last_name = "Droge"
print(last_name)

Droge

In [6]:
print(name, "will be", age+10, "in ten years.")

Naomi will be 46 in ten years.

In [9]:
print(name[0])

N

In [17]:
name_substring = name[0:3]
print(name_substring)

Nao

In [21]:
length_name = len(name)

In [23]:
print(length_name + 4)

9

In [24]:
Hello = 5

In [25]:
print (hello)

NameError: name 'hello' is not defined

In [26]:
print (Hello)

5

In [27]:
name = "NaomiMae"

In [28]:
print(name)

NaomiMae

In [30]:
type(name)

str

In [31]:
type(age)

int

In [33]:
new_age = 99
print(new_age + 15)

114

In [34]:
new_age = int(new_age)

In [35]:
new_age + 50

149

In [36]:
num = 5.0923

In [37]:
type(num)

float

In [38]:
num -0.84952

4.24278

In [39]:
num * 2398

12211.3354

In [40]:
num / 0

ZeroDivisionError: float division by zero

In [41]:
num / 12

0.42435833333333334

In [42]:
integer = 4
print(integer/3)

1.3333333333333333

In [43]:
type(integer/3)

float

In [44]:
name * 2

'NaomiMaeNaomiMae'

In [45]:
name + "."

'NaomiMae.'

In [46]:
#This sentence won't be executed by Python because it is preceded by a hash-tag or hash-mark
print('hello world')

hello world

In [47]:
print()
print('hello', 'world', 'again')

hello world again

In [48]:
result = print('example')
print('result of print is:', result)

example
result of print is: None

In [49]:
print(max(0, 1, 2, 3))
print(min('a', 'A', '0'))

3
0

In [50]:
round(3.714, 2)

3.71

In [51]:
my_string = "Hello world!!!!"
print(len(my_string)) #printing the length of my_string
print(my_string.swapcase())

15
hELLO WORLD!!!!

In [52]:
print(my_string.isupper())

False

In [53]:
print(my_string.upper())

HELLO WORLD!!!!

In [54]:
print(my_string.upper().isupper())

True

In [55]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [65]:
radiance = 1.0
radiance = max(2.1, 2.0 + min(radiance, 1.1 * radiance - 0.5))

In [66]:
#Explain in timple terms the order of operations: PEMDAS
#First Innermost parenthesis
#All MDAS inside
#then outermost parenthesis and all MDAS inside

In [ ]:
import math
print('pi is',math.pi)
print('cos(pi) is', math.cos(math.pi))

In [67]:
import sklearn

In [80]:
import pandas as pd

In [90]:
data_oceania = pd.read_csv('data/gapminder_gdp_oceania.csv')

In [92]:
print('data_oceania')

TypeError: 'float' object is not callable